@import "tailwindcss";


/*.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .content-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
  
  #map {
    flex: 1;
    margin-right: 20px;
  }*/